.fox{
    border: 3px brown solid;
    width: 45%;    
    background-color: bisque;
    margin: 0px;
}
img{
    border: 3px goldenrod solid;
    width: 180px;
    display: block;
    margin-right: 60px;
    margin-left: 15px;
}
p{
    border: 2px red dashed;
    background-color: yellow;
    display: block;
    margin-right: 60px;
    margin-left: 15px;
    height: 190px;
}
h1{
    margin-left: 15px;
}
